:root{
	--mintiz-mint: #BDE4DC;
	--mintiz-brown: #817171;
}

#page-wrapper{
	background:white;
	margin:20px 0; padding: 10px 20px;
	border-radius:5px;
	box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
.master-title{
	font-size:30px;
	color:var(--mintiz-brown);	
}

body{
	width:960px; margin:0 auto;
	background:var(--mintiz-mint);
}
#content{
	overflow:hidden;
	background:white;
	margin:10px 0; padding: 0px 20px;
	border-radius:5px;
	box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
.title{
	padding: 10px;
	font-weight: bold;
    text-align: center;
    color: #BDE4DC;
    font-size: 24px;
    margin-bottom: 10px;
}

/* 본문 내용의 레이아웃, 글씨 색*/
.body-layout{
    display: grid;
    place-content: center;
	margin: 13px;
    color:var(--mintiz-brown);
}

.layout{
    text-align: center;
    align-items: center;
    align-content: center;
}

/* 전체 글 목록을 감싸는 것*/
.board_list_wrap {
    padding: 5px;
}

/* 글 목록 표 영역*/
.board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}

/* 표에서 맨 윗칸*/
.board_list_head {
    border-top: 2px solid #7dc5b7;
    border-bottom: 1px solid #7dc5b7;
}

/* 표에서 중간 칸*/
.board_list_body .item {
    border-bottom: 1px solid #7dc5b7;
}

/* 칸의 크기 조절*/
.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.board_list_head > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .tit {
    width: 55%;
}

.board_list_body div.tit {
    text-align: left;
}

.board_list_body div.tit a:hover {
    text-decoration: underline;
}

.board_list .date {
    width: 25%;
}

.board_list .view {
    width: 10%;
}

/* paging 영역*/
.paging {
    margin-top: 30px;
    text-align: center;
}

.paging a {
    display: inline-block;
    vertical-align: middle;
}

.paging a.bt {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-image: url(../image/page_bt.png);
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}

.paging a.bt:hover {
    background-color: #999;
}

.paging a.first {
    background-position: 10px -40px;
}

.paging a.prev {
    margin-right: 5px;
    background-position: 10px 10px;
}

.paging a.next {
    margin-left: 5px;
    background-position: -40px 10px;
}

.paging a.last {
    background-position: -40px -40px;
}

.paging a.num {
    margin: 0 5px;
}

.paging a.num.on {
    color:#7dc5b7;
}

.paging a.num:hover {
    text-decoration: underline;
}