<!DOCTYPE html>
<html>
<head>
	<title>화면기술</title>
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="../css/basic.css">
    <link rel="stylesheet" type="text/css" href="../css/mypage.css">
</head>

<body>
	<div id="page-wrapper">
		<!--고정 헤더-->
		<header id="main-header">
			<hgroup>			
				<h1 align="center"class="master-title">MINTiZ</h1>
		    </hgroup>
		</header>
	</div>

	<!--화면 주요 내용-->
	<div id="content" > 
        <!--메뉴바-->
        <div class="layout">
            <nav>
                <ul>
                    <li><a class = "btn-1" href="MyPage.html">마이페이지</a></li>
                    <li>|</li>
                    <li><a class = "btn-1" href="WritingList.html">내가 쓴 글</a></li>
                    <li>|</li>
                    <li><a class = "btn-1" href="BookMark.html">북마크 목록</a></li>
                </ul>
            </nav>
        </div>

        <!--마이페이지-->



	</div>


</body>
</html>