<!DOCTYPE html>
<html>
<head>
	<title>회원 가입</title>
	<script type="text/javascript" src="../js/join.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/join.css">

</head>
<body>
    <div id="page-wrapper">
		<!--고정 헤더-->
		<header id="main-header">
			<hgroup align="center">	
				<h1 align="center"class="master-title">회원 가입</h1>
		    </hgroup>
		</header>
	</div>

	<section class="join-input-section-wrap">
		<form name="join_form" method="GET"> 
			<div class="login-name"> 레벨 </div>
			<div class="login-input-wrap">
				<input id="level" name="level" value="" type="text" readonly></input>
			</div>
		</form>
		<form name="join_form" method="POST"> 
            <div class="login-name"> 이메일 </div>
			<div class="login-input-wrap">
				<input id="set_email" name="set_email" placeholder="이메일을 입력해주세요" type="email"></input>
			</div>
            <div class="login-name"> 이름 </div>
			<div class="login-input-wrap"> 	
				<input id="set_name" name="set_name" placeholder="이름을 입력해주세요" type="text"></input>
			</div>
            <div class="login-name"> 아이디 </div>
			<div class="login-input-wrap"> 	
				<input id="set_id" name="set_id" placeholder="아이디를 입력해주세요" type="text"></input>
				<button id="id_button" onclick="id_check()">중복확인</button>
			</div>
            <div class="login-name"> 비밀번호 </div>
			<div class="login-input-wrap"> 	
				<input id="set_pw" name="set_pw" placeholder="비밀번호를 입력해주세요" type="password"></input>
			</div>
			<div class="login-name"> 비밀번호 재입력</div>
			<div class="login-input-wrap"> 	
				<input id="check_pw" name="check_pw" placeholder="비밀번호를 입력해주세요" type="password"></input>
			</div>
			<div class="login-button-wrap">
				<button onclick="joinform_check();">Sign up</button>
			</div>
		</form>
	</section>

</body>
</html>