<!DOCTYPE html>
<html>
<head>
	<title>회원 가입</title>
	<script type="text/javascript" src="../js/join.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/join.css">

</head>
<body>
    <div id="page-wrapper">
		<!--고정 헤더-->
		<header id="main-header">
			<hgroup align="center">	
				<h1 align="center"class="master-title">회원 가입</h1>
		    </hgroup>
		</header>
	</div>

	<section class="login-input-section-wrap">
		<form name="login" method="POST"> 
            <div class="login-name"> 이메일 </div>
			<div class="login-input-wrap">
				<input placeholder="이메일을 입력해주세요" type="email"></input>
			</div>
            <div class="login-name"> 이름 </div>
			<div class="login-input-wrap password-wrap"> 	
				<input placeholder="이름을 입력해주세요" type="text"></input>
			</div>
            <div class="login-name"> 아이디 </div>
			<div class="login-input-wrap password-wrap"> 	
				<input placeholder="아이디를 입력해주세요" type="text"></input>
			</div>
            <div class="login-name"> 비밀번호 </div>
			<div class="login-input-wrap password-wrap"> 	
				<input placeholder="비밀번호를 입력해주세요" type="password"></input>
			</div>
			<div class="login-button-wrap">
				<button>Sign up</button>
			</div>
		
		</form>
	</section>

</body>
</html>