<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script type="text/javascript" src="../"></script>
	<link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
	<h1 align="center">Login</h1>
	<br>
	<section class="login-input-section-wrap">
		<div class="login-input-wrap">	
			<input placeholder="이메일을 입력해주세요" type="text"></input>
		</div>
		<div class="login-input-wrap password-wrap">	
			<input placeholder="비밀번호를 입력해주세요" type="password"></input>
		</div>
		<div class="login-button-wrap">
			<button>Sign in</button>
		</div>
		<div class="stay-sign-in">
			<i class="far fa-check-circle"></i>
			<span>Stay Signed in</span>
		</div>
		<div class="find-id-password">
			<p class="forget-msg">아이디 찾기 | 비밀번호 찾기 | 회원가입</p>
		</div>
	</section>
	<hr>
	<div class="google-sign-in">
		<button><i class="sign-button"></i>
		<span>Start with Google</span></button>	
	</div>


</body>
</html>