<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<script type="text/javascript" src="../js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<!--전체를 감싸는 태그-->
	<div id="page-wrapper">

		<!--헤더-->
		<header id="main-header">
			<hgroup>			
				<h1 align="left" class="master-title">MINTiZ</h1>
		    </hgroup>
		</header>

		<section id="search-section">
		<div class="search">
			<form><input type="text" id="search"/> 
			<button><span>검색</span></button>
			</form>
		</div>
		<div class="tag">
			<button><i class="tag1"></i><span>#일상</span>
			</button>
			<button><i class="tag2"></i><span>#맛집 후기</span>
			</button>
			<button><i class="tag3"></i><span>#추천</span>
			</button>
		</div>
		</section>
	</div>

	<!--콘텐츠를 감싸는 태그-->
	<div id="content">
		<section id="main-section" >
				<!--for문 써서 db에서 받아오기-->
			<article>
				<div class="post-image">				
					<img id="postImg" src="../image/임시.png" width='300' height='300'/>
				</div>
				<div class="post-text">									
					<p>핳ㅎ하ㅏ하핳하하하핳ㅎ하 *^^*</p>
 				</div>
			</article>

			<article>
				<div class="article-header">

				</div>
			</article>
				
		</section>

	</div>
	
</body>
</html>