<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<script type="text/javascript" src="../js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<!--전체를 감싸는 태그-->
	<div id="page-wrapper">

		<!--헤더-->
		<header id="main-header">
			<hgroup>			
				<h1 align="left" class="master-title">MINTiZ</h1>
		    </hgroup>
		</header>

		<section id="search-section">
		<div class="search">
			<form><input type="text" id="search"/> 
			<button><span>검색</span></button>
			</form>
		</div>
		<div class="tag">
			<button><i class="tag1"></i><span>#일상</span>
			</button>
			<button><i class="tag2"></i><span>#맛집 후기</span>
			</button>
			<button><i class="tag3"></i><span>#추천</span>
			</button>
		</div>
		</section>
	</div>

	<!--콘텐츠를 감싸는 태그-->
	<div id="content">
		<section id="main-section" >

				<!--아티클 헤더부분-->
			<article>
				<div class="article-header">
					<h2 class="article-title" id="test_1"></h2>
					
					<div class="test_1">
					<form>
						<input type="text" id="gettext"/> 
<input type="button" value="얻어오기" onclick="get_text();"/> 
						

					</form>	
					
					<form>
				<input type="text" id="settext"/> 
						<input type="button" value="설정하기" onclick="set_text();"/> 
						
 					</form>				

 				</div>
			</article>

			<article>
				<div class="article-header">
					<h2 class="article-title" id="test_2"></h2>
					<p class="article-date"></p>
					<div class="test_2">
					<img id="img1" src="임시.png"/>
					<p> </p>
<img id="img2" src="computer.jpg" width='100' height='100'/>


				</div>
			</article>
				
		</section>

	</div>
	
</body>
</html>