<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css">
</head>

<body>
	<div id="header">
		<h1 align="left">Sign up</h1>
		<div id="wrapper">
			<div id="content">
				
			
			</div>
		
		
		</div>
	</div>
			
	<!--
	<div class="test_1">닉네임
		<form>
			<input placeholder="닉네임을 입력해주세요" type="text" id="nickname"/> 
		</form>						
		<br>							
		아이디
		
		<form>
			<input placeholder="아이디를 입력해주세요" type="text" id="email"/> 		
		</form>
 		<br>
		
 		비밀번호
 		<form>
			<input placeholder="비밀번호를 입력해주세요" type="text" id="password1"/> 
			<input type="button" value="설정하기"/> 				
 		</form>	
 		<form>
			<input placeholder="비밀번호를 재입력해주세요" type="text" id="password2"/> 
			<input type="button" value="설정하기"/> 				
 		</form>	
 		<br>
 		이메일
 		<form>
			<input placeholder="아메일을 입력해주세요" type="text" id="email"/> 		
		</form>			
 	</div>

 	<br>
	<div class="to-level-test">
		<button><i class="next"></i>
		<span>다음</span></button>	
	</div>
	-->
</body>
</html>