<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<script type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/test.css">
    <link rel="stylesheet" type="text/css" href="../css/qna.css">
    <link rel="stylesheet" type="text/css" href="../css/testanimation.css">
    <link rel="stylesheet" type="text/css" href="../css/result.css">
</head>

<body>
	<div class="content">
        <section id="testmain">
            <h1>나의 민초력은?</h1>
            <div id="col-6 mx-auto">
                <img src="../image/임시.png" alt="mainTestImg" class="img-fluid">
            </div>
            <br>
            <p>
                넣고싶은 텍스트
            </p>
            <a href="#" role="button" class="testBtn testBtn--basemint size_default" onclick="begin()">시작하기</a>         
            <!--
                <button type="button" class="testBtn testBtn--basemint size_default" onclick="begin()">시작하기</span></button>
            -->          
        </section>

        <section id="qna">
            <div class="status">
                <div class="statusBar"></div>
            </div>
            <div class="qBox my-5 py-3 mx-auto">

            </div>
            <div class="aBox">

            </div>
        </section>

        <section id="result">
            <h1>나의 민초력은?</h1>
            <div class="resultname">

            </div>
            <div id="resultImg">
                
            </div>
            <div class="resultDesc">

            </div>
            <br>
            <p>
                
            </p>
            <button type="button" class="kakao" onclick="">공유하기</button>
            <button type="button" class="next" onclick="">다음으로</button>           
            <!--<a href="#" role="button" class="kakao" onclick="">공유하기</a>-->
        </section>
        <script src="../js/testData.js"></script>
        <script src="../js/test.js"></script>
	</div>

</body>
</html>