<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<script type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/test.css">
</head>

<body>
	<div class="content">
        <section>
            <h1>나의 민초력은?</h1>
            <div id="col-6 mx-auto">
                <img src="../image/임시.png" alt="mainTestImg">
            </div>
            <br>
            <p>
                넣고싶은 텍스트
            </p>       
            <button type="button" class="btn-test">시작하기</button>
        </section>
	</div>

</body>
</html>